html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: text-top;
    background: transparent;
}

body {
  text-align: center;
  background-color: black;
  background-image: url("../imgs/layout/flowerytile.jpg");
  font-family: 'Didact Gothic', 'Open Sans', sans-serif;
}

section#main-pane {
  margin: auto;
  margin-top: -9px;
  width: 900px;
  padding: 82px 0px 2em 0px;
  background-color: white;
  background-image: url("../imgs/layout/paramount_electrum_400.jpg");
  background-repeat: repeat-x;
  border: 2px solid #472C1C;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  vertical-align: text-top;
}

#maintitle {
  background-color: black;
  margin: 0px;
  padding: 0px;
  border: 0px;

  color: #DFBD76;
  font-family: 'Skranji', serif;
  text-transform: uppercase;
  font-size: 3em;
}

h1 {
  font-family: 'Skranji', serif;
  font-size: 3em;
}

#update {
  display: inline-block;
  width: 250px;
  margin: 20px;
  vertical-align: text-top;
  text-align: right;
}

#update h1 {
  font-family: inherit;
  font-size: 2em;
}

nav {
  display: inline-block;
  margin: 20px;
  vertical-align: text-top;
  text-align: left;
}

nav h1 {
  font-size: 2em;
  background-color: white;
  color: black;
  vertical-align: text-top;

}


section.copy {
  width: 800px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  /*column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-fill: auto
  -moz-column-fill: auto;*/
  text-align: left;
  vertical-align: text-top;
}

p.copy-single-column {
  float:left;
  width: 10em;
  margin: auto;
  text-align: left;
  vertical-align: text-top;
}

hr {
  width:800px;
  margin: 0em auto 1em auto;
}

footer {
  position: relative;
  right: 5em;
  top: 2em;
  text-align: right;
  margin-bottom: 2em;
}

p {
  /*text-indent: 1em;*/
  /*text-align: justify;
  text-justify: inter-word;*/
  padding: .25em;
  max-width: 500px;
}

figure {
  margin: 1.75em;
}

figure img {
  border: 1px solid black;
}

figcaption {
  font-size: 0.8em;
}

.special {
  font-style: italic;
}

.figure {
  display: inline-block;
  padding-top: .5em;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ol li {
  list-style-type: decimal;
  display: list-item;
}

.code {
  margin: 3px;
  padding: 2px;
  font-family: Courier, serif;
  font-weight: lighter;
  background-color: linen;
}