html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: text-top;
  background: transparent; }

body {
  font-family: 'Avenir Next', Avenir, sans-serif;
  text-align: center;
  background: #fff;
  background-size: 100%;
  background-attachment: fixed; }

a, a:visited {
  color: initial;
  text-decoration: initial; }
  a:hover, a:hover *, a:visited:hover, a:visited:hover * {
    color: coral !important; }

p, h3 {
  text-align: left; }

.blur {
  -webkit-filter: blur(3px);
          filter: blur(3px); }

/*-- NAV MENU CHANGES AT 700 PX --*/
@media screen and (max-width: 700px) {
  header {
    padding-bottom: 20px;
    position: absolute; }
  header label[for="mobilemenu-toggle"] {
    background: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Special Elite';
    font-size: 2.5em;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    top: 0;
    z-index: 1; }
    header label[for="mobilemenu-toggle"].close {
      display: none; }
  #mobile-popup {
    background: #fff;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 100; }
    #mobile-popup label#whole-page-button {
      background: rgba(102, 102, 102, 0.5);
      height: 100%;
      position: fixed;
      width: 100%;
      z-index: 1; }
  header #mobilemenu {
    display: none;
    margin: 0; }
    header #mobilemenu ul {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #fff;
      border: 1px solid #ccc;
      border-left: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      font-size: .7em;
      left: 0;
      padding-bottom: 1em;
      padding-top: 1em;
      position: absolute;
      z-index: 1; }
    header #mobilemenu li {
      font-size: 2em;
      font-weight: lighter;
      padding: 20px 70px; }
      header #mobilemenu li img {
        height: 1.5em;
        width: 1.5em; }
  #mobilemenu-toggle:checked ~ #mobilemenu {
    display: block;
    left: 0;
    position: absolute;
    top: 0; }
  #hamburger {
    background: transparent;
    display: inline; }
  header #mobilemenu-toggle ~ label[for="mobilemenu-toggle"] {
    border: 0;
    box-shadow: none;
    z-index: 2; }
  header #mobilemenu-toggle:checked ~ label[for="mobilemenu-toggle"] {
    color: lightcoral; }
    header #mobilemenu-toggle:checked ~ label[for="mobilemenu-toggle"].close {
      background: transparent;
      display: block;
      position: absolute;
      z-index: 100; }
  header h1#maintitle {
    padding-top: 1.2em; }
  nav#header-buttons ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #header-buttons li {
    margin-top: 20px; } }

/*-- PROJECTS LAYOUT CHANGES AT 600 PX --*/
@media screen and (max-width: 600px) {
  body {
    font-size: 1.25em; }
  section.projects ul {
    columns: 1;
    display: block;
    height: initial;
    padding-bottom: 2em; }
  section.projects ul li.project-block {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%; }
  section.projects ul li.project-block {
    overflow: auto;
    padding-top: 50px;
    position: relative; }
  section.projects li.project-block h3 {
    margin-bottom: 10px; }
  section.projects li.project-block img {
    width: 100px;
    height: auto; }
  section.projects li.project-block.mobile-big a *:not(img) {
    padding-left: 30px;
    padding-right: 30px; }
  section.projects li.project-block.mobile-big a {
    padding-right: 0; }
  section.projects li.project-block.mobile-big img {
    display: block;
    float: none;
    height: auto;
    margin: 0;
    text-align: center;
    width: 100%; }
  section.projects li.project-block.mobile-small a * {
    padding-left: 30px; }
  section.projects li.project-block.mobile-small p {
    padding-right: 20px; }
  section.projects li.project-block.mobile-small img {
    display: block;
    float: right;
    padding-left: 10px;
    padding-right: 20px; }
  section.projects li.project-block.mobile-small h4 {
    font-size: .8em;
    text-align: left;
    text-transform: uppercase; }
  section.projects li.project-block.mobile-small h3 {
    margin-left: 20px;
    margin-right: 130px;
    padding-left: 10px; }
  section.projects li.project-block.mobile-no-pic {
    padding-top: 25px; }
  section.projects li.project-block.mobile-no-pic p {
    padding-right: 20px; }
  section.projects li.project-block.mobile-no-pic h3 {
    margin-right: 20px; }
  section.projects li.project-block.mobile-no-pic img {
    display: none; }
  section#about {
    font-size: 1em; } }

@media screen and (min-width: 601px){
  .projects {
    padding: 2em;
  }

  .projects ul {
    /*background: #eceff2;*/
    border-top: 1px solid hsl(210,80%,75%);
    /*border-bottom: 1px solid hsl(210,80%,75%);*/
    columns: 2;
    max-width: 100%;
    width: 100%; }

  .projects.games ul {
    columns: 1;
  }

  .project-block {
    /*background: #fff;*/
    /*border: 1px solid dodgerblue;*/
    border-top: 0;
    /*border-radius: 25px;*/
    box-sizing: border-box;
    display: inline-block;
    /*font-size: .5em;*/
    margin: 2% 0;
    max-width: 100%;
    overflow: hidden;
    padding: 20px 30px;
    width: 100%; }

  .project-block h4 {
    /*background: dodgerblue;*/
    /*color: #fff !important;*/
    left: 0;
    padding: 2px 30px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .project-block.tablet-big img {
    width: 100%; }
}

@media screen and (min-width: 950px) {
  section.projects ul {
    columns: 1;
    -webkit-column-count: 1; }

  .projects.games ul{
    columns: 1;
    -webkit-column-count: 1; }
  }

  .project-block.desktop-med img {
    float: none;
    margin-left: 0;
    width: 100%; }
   } }

h1 {
  font-family: 'Alfa Slab One';
  font-weight: lighter; }

strong {
  font-weight: 600; }

#main-pane {
  position: absolute;
  width: 100%;
  margin: auto;
  background-color: white; }

header {
  text-align: center;
  padding-bottom: 1em;
  position: relative; }

/*header::before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  background: blue; }*/

header input, header label[for="mobilemenu-toggle"] {
  display: none; }

header img {
  width: 30px;
  height: 30px; }

header p {
  text-align: center;
}

h1 {
  font-size: 2em; }

header nav {
  margin: 10px;
  font-weight: 700; }

#header-buttons button a {
  color: #fff; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#mobile-popup {
  background: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  z-index: 100; }

#mobile-popup nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

nav ul li a, nav ul li a:visited, nav ul li a:hover {
  text-decoration: none; }

#maintitle {
  padding-top: 3.5em; }

header h1, header #intro {
  padding-left: 20px;
  padding-right: 20px; }

section:not(#mobile-popup, #main-pane) {
  text-align: left;
  display: inline-block;
  margin: 1em 0 1em 0; }

li {
  list-style-type: none;
  position: relative; }

#intro {
  /*font-size: .8em;*/
  font-weight: 400;
  text-align: center;
  text-transform: lowercase; }

.contact-badges {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 50%;
  margin: auto;
  position: fixed;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden; }

#header-buttons .contact-badges img {
  background: #fff;
  border-radius: 50%;
  height: 100%;
  margin-top: 0;
  width: 100%; }

#contact-toggle:checked ~ .contact-badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 175px;
  visibility: visible;
  width: 50px; }

.gutter {
  padding-left: 30px;
  padding-right: 30px; }

.button a {
  color: #fff; }

#header-buttons button {
  background: #ffba1e;
  border: none;
  border-radius: 2em;
  color: #fff;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: inherit;
  font-size: 1.2em;
  padding: 0.5em 0.75em; }

main {
  font-size: 1.2em; }

.projects ul {
  column-fill: balance;
   }

.project-block {
  font-size: .85em;
   }

.project-block img {
  float: right;
  margin-left: 10px;
  width: 25%; }

.project-block h4 {
  color: dodgerblue;
  font-size: .8em;
  text-align: left;
  text-transform: uppercase; }

.project-block.desktop-small img {
  display: none; }

.project-block h3 {
  font-size: 1.2em; }

#about {
  padding: 40px 0; }

#about p {
  padding-left: 30px;
  padding-right: 30px; }

#about img, #about iframe {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px 0 gray;
  margin: .5em; }

#about p:nth-child(even) img, #about p:nth-child(odd) iframe {
  float: left; }

#about p:nth-child(odd) img, #about p:nth-child(even) iframe {
  float: right; }

.breakout {
  text-align: center;
  font-size: 1.5em; }

.breakout a {
  text-decoration: underline; }
