#headshot {
  display: inline-block;
  border: 1px gray solid;
  /*float: left;*/
}

ul.breadcrumbs:before {
     content: none;
    width: 115px;
    display: inline-block;
}

h1 {
  text-shadow: 3px 3px lightgray;
}

iframe {
  display: block;
  margin: .5em auto 1em auto;
}

aside {
  margin: 1em;
  width: 200px;
  display: inline-block;
  border-width: 10px 1px 1px 1px;
  border-style: solid;
  border-color: #A0B098;
  border-radius: 5px;
  padding: 1em;
  float: right;
}

.content {
  display: inline-block;

}

aside ul {
  font-weight: bolder;
}

aside li {
  list-style-type: none;
  font-weight: normal;
  text-align: left;
}

.vignette {
  width: 7em;
}

#bodypic1 {
  /*transform: scaleX(-1);*/
}

#bodypic2 {
  /*transform: scaleX(-1);*/
}

#bodypic3 {
  transform: scaleX(-1);
}