html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: text-top;
    background: transparent;
}

html, body {
  padding: 0px
  margin: 0px;
  border: 0px;
  height: 100%;
}

body {
  text-align: center;
  background-color: black;
  background-image: url("../imgs/layout/flowerytile.jpg");
  font-family: 'Avenir Next', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  /* -webkit-font-smoothing: antialiased; */
}

section#main-pane {
  margin: auto;
  /*margin-top: -9px;*/
  width: 900px;
  padding: 0px 0px 2em 0px;
  background-color: white;
  /*background-image: url("../imgs/layout/paramount_electrum_400.jpg");*/
  background-repeat: repeat-x;
  /*border: 2px solid #472C1C;*/
  /*border-bottom-left-radius: 50px;*/
  /*border-bottom-right-radius: 50px;*/
  vertical-align: text-top;
}

#maintitle {
  background-color: rosybrown;
  margin: 0px;
  padding: 0px;
  border: 0px;

  color: white;
  font-family: 'Avenir Next', serif;
  font-weight: 800;
  /*text-shadow: 0px -2px 0px hsla(0, 0%, 0%, .2);*/
  font-size: 2.5em;
}

/*h1 {
  font-family: 'Skranji', serif;
  font-size: 3em;
}
*/
#update {
  display: inline-block;
  /*width: 250px;*/
  margin: 20px;
  vertical-align: text-top;
  text-align: right;
}

#update h1 {
  font-family: inherit;
  font-size: 2em;
}

nav {
  display: inline-block;
  margin: 20px;
  vertical-align: text-top;
  text-align: left;
}

nav h1 {
  font-size: 2em;
  background-color: white;
  color: black;
  vertical-align: text-top;
  font-family: 'Diehl Deco';

}


section.copy {
  width: 600px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em;
  /*column-count: 3;
   -webkit-column-count: 3;
  -moz-column-count: 3;
  column-fill: auto
  -moz-column-fill: auto;*/
  /* text-align: left; */
  /*vertical-align: text-top;*/
}

p.copy-single-column {
  float:left;
  width: 10em;
  margin: auto;
  text-align: left;
  vertical-align: text-top;
}

hr {
  display: none;
  width:75%;
  margin: 0em auto 1em auto;
  background-color: black;
  border: 0;
  height: 1px;
}

a:visited {
  color: gray;
}

/*footer {
  position: absolute;
  right: 30px;
  top: 92px;
  text-align: right;
  margin-bottom: 2em;
}*/

p {
  /*text-indent: 1em;*/
  text-align: left;
  /*text-justify: inter-word;*/
  padding: .25em;
  max-width: 32em;
  margin: auto;
}

figure {
  margin: 1.75em;
}

figure img {
  border: 1px solid black;
}

figcaption {
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
}

.special {
  font-style: italic;
}

.figure {
  display: inline-block;
  padding-top: .5em;
  text-align: left;
  margin: auto;
  font-family: "Inconsolata", Courier, monospace;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ol li {
  list-style-type: decimal;
  display: list-item;
}

.code {
  margin: 3px;
  padding: 2px;
  font-family: monospace;
  font-weight: 200;
}

#headshot {
  right: 100px;
  width: 200px;
  border-radius: 50%;
  float: right;
}