html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: text-top;
    background: transparent;
}

html, body {
  padding: 0px
  margin: 0px;
  border: 0px;
  height: 100%;
}

body {
  text-align: center;
  background-color: black;
  background-image: url("../imgs/layout/oriental_deco_artex_pattern-908.jpg");
  font-family: 'Avenir Next', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  /* -webkit-font-smoothing: antialiased; */
}

section#main-pane {
  margin: auto;
  margin-bottom: 0;
  width: 900px;
  padding: 50px 0px 2em 0px;
  /*background-color: white;*/
  background-repeat: repeat-x;
  vertical-align: text-top;
}

#maintitle {
  display: inline-block;
  width: 750px;
  background-color: hsla(100,24%,64%,1);
  margin: 0 0 0 -25px;
  padding: 0px;
  border: 2px solid black;
  color: white;
  font-family: 'Diehl Deco', serif;
  font-weight: 800;
  font-size: 2.5em;
  position: relative;
  box-shadow: 0 5px 0 0 white inset, 0 -5px 0 0 white inset;
}

#maintitle::before, #maintitle::after {
  content: "";
  background-color: hsla(100,13%,46%,1);
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 25px;
  z-index: -1;
  box-shadow: 0 5px 0 0 hsl(0, 0%, 72%) inset, 0 -5px 0 0 hsl(0, 0%, 72%) inset;
  border: 2px solid black;
  overflow: hidden;
}

#maintitle::before {
  left: -40px;
  background: linear-gradient(90deg, hsla(100,20%,46%,1), hsl(100,14%,20%) 80%)
}

#maintitle::after {
  right: -40px;
  background: linear-gradient(250deg, hsla(100,13%,46%,1), hsl(100,14%,20%))
}

header {
  width: 100%;
  position: relative;
  transform: rotate(-5deg) skew(-5deg);
}

#top {
  display: inline-block;
  width: 40em;
  height: 100%;
  background-color: white;
  /*border-bottom-right-radius: 5px;*/
  /*padding-bottom: 1em;*/
}

#update {
  display: inline-block;
  width: 250px;
  margin: 20px 20px 20px 20px;
  vertical-align: text-top;
  text-align: right;
}

#update h2 {
  text-align: right;
  font-family: 'Diehl Deco';
  width: 6em;
  margin: .5em 0 .4em 1.1em;
  font-size: 2em;
  text-shadow: 1px 1px 0 white, 2px 2px 0 #A0B098;
  border-top: 1px solid #A0B098;
  border-bottom: 1px solid #A0B098;
}

nav {
  display: inline-block;
  position: relative;
  margin: 20px;
  vertical-align: text-top;
  text-align: left;
  background-color: white;
  float: left;
}

nav h1 {
  display: inline-block;
  margin: .5em;
  font-size: 1.5em;
  color: black;
  vertical-align: text-top;
  font-family: 'Diehl Deco';

}

section.copy {
  display: inline-block;
  float: right;
  margin: auto;
  background-color: hsl(100,14%,40%);
  background: radial-gradient(hsl(100,14%,40%), hsl(100,14%,25%) 90%);
  padding: 1.5em 1.5em 1.5em 1.5em;
  color: white;
  font-size: 1.5em;
  /*margin-top: 2em;
  margin-bottom: 3em;
  background-color: white;
  padding: 1.5em;
  border-radius: 1.5em;
  background: radial-gradient(white, white, #B0AA98);
  background: -webkit-radial-gradient(white, white, #B0AA98);
  background: -o-radial-gradient(white, white, #B0AA98);
  background: -mo-radial-gradient(white, white, #B0AA98);*/
}

hr {
  /*display: none;*/
  width:75%;
  margin: 0em auto 1em auto;
  background-color: black;
  border: 0;
  height: 1px;
}

a, a:visited {
  /*color: #A0B098;*/
  text-decoration: none;
}

p {
  text-align: left;
  padding: .25em;
  max-width: 32em;
  margin: auto;
}

figure {
  margin: 1.75em;
}

figure img {
  border: 1px solid black;
}

figcaption {
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
}

.special {
  font-style: italic;
}

.figure {
  display: inline-block;
  padding-top: .5em;
  text-align: left;
  margin: auto;
  font-family: "Inconsolata", Courier, monospace;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ol li {
  list-style-type: decimal;
  display: list-item;
}

.code {
  margin: 3px;
  padding: 2px;
  font-family: monospace;
  font-weight: 200;
}

.vignette {
  width: 5.5em;
  border-radius: 50%;
  border: 1px solid black;
  clear: both;
  margin: .4em;
}

#bodypic1 {
  right: 100px;
  float: right;
  /*transform: scaleX(-1);*/
}

#bodypic2 {
  float: left;
  left: 100px;
  /*transform: scaleX(-1);*/
}

#bodypic3 {
  right: 100px;
  float: right;
  transform: scaleX(-1);
}

#navbarpic {
  width: 15em;
  transform: rotate(5deg) skew(5deg) scaleX(-1);
  float: right;
  position: absolute;
  top: 50px;
  right: -200px;
}

#navbarpic::after {
  width: 10em;
  transform: rotate(5deg) skew(5deg);
  float: right;
  margin-top: 50px;
  margin-left: -100px;
}