ul.breadcrumbs {
  background-color: black;
}

#main-pane {
  height: 100%;
}

header {
  font-family: inherit;
}

header   h1 {
  background-color: white;
  font-size: 2.5em;
}

header h3, header h3 a, header h3 a:visited {
  padding-top: .5em;
  font-family: 'Diehl Deco';
  font-weight: bolder;
  color: black;
}

ul.breadcrumbs::before {
  width: 130px;
}

h1, h1 a, h1 a:visited {
  font-family: 'Diehl Deco';
  font-weight: 200;
  padding-top: .25em;
}

header h3, header h3 a, header h3a:visited {
  font-size: .9em;
  margin-bottom: 0;
}

ul.site-sections {
  display: inline-block;
  width: 55%;
  margin-top: 0;
  margin-bottom: .5em;
  padding-top: 0;
  background-color: gray;
  box-shadow: 0px 0px 0px 20px linen inset;
  border-radius: 1.5em;
  }

ul.site-sections li {
  background: linen;
}

  ul.site-sections li:last-child {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    /*border-right: 2px solid black;*/
  }

  ul.site-sections li:first-child {
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    /*border-left: 2px solid black;*/
  }

  #update {
    text-align: left;
    width: 17em;
    padding: 0;
    vertical-align: top;
  }

  #update p {
    margin: 0;
    padding: 0;
    vertical-align: top;
  }

  #update p:first-child {
    text-align: center;
    margin-top: -.4em;
    padding: 0;
    font-family: 'Diehl Deco';
    font-size: 2em;
    font-weight: light;
  }

  #update p::first-letter {
    font-family: inherit;
    font-size: inherit;
    text-shadow: inherit;
    font-weight: inherit;
    float: inherit;
    margin: inherit;
    padding: inherit;
  }

  #update h2 {
    margin-top: .4em;
    margin-bottom: .50em;
  }

  #update a, #update a:visited {
    /*text-decoration: none;*/
  }

  nav {
    border-top: 1px solid hsla(0, 0%, 50%, .5);
    border-bottom: 1px solid hsla(0, 0%, 50%, .5);
    padding-bottom: .7em;
    padding-top: .5em;
  }

  nav li {
    list-style-type: none;
  }

  .gameType, .utilType {
    display: inline-block;
    background-color: rosybrown;
    font-size: .65em;
    padding: .3em;
    text-transform: uppercase;
    width: 3.5em;
    text-align: center;
    border-radius: .4em;
    margin: .2em;
    border: 1px solid black;
    color: hsla(0, 0%, 100%, 1);
    font-weight:  bold;
    /*text-shadow: .5px .5px .5px hsla(0, 0%, 0%, .7), -.5px -.5px 1px hsla(0, 0%, 100%, .7);*/
    box-shadow: 4px 4px 8px 4px hsla(0, 0%, 0%, .3) inset, 1px 1px 1px 1px hsla(0, 0%, 100%, 1) inset, 1px 1px 1px 1px hsla(0, 0%, 100%, 1) inset, 1px 1px 4px 1px hsla(0, 0%, 100%, .5) inset;
  }

  .gameType {
    background-color: green;
    border-color: darkgreen;
  }

  .utilType {
    background-color: brown;
    border-color: darkred;
  }