html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: text-top;
    background: transparent;
}

body {
    font-family: 'Avenir Next', Avenir, sans-serif;
    text-align: center;
    overflow: scroll;
    background-size: 100%;
    background: #eee fixed;
}

#jobs-parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.job-info {
    width: 50%;
    text-align: left;
    margin-top: 4em;
}

.job-info h1 {
    text-align: center;
    font-size: large;
}

.job-info h2 {
    text-align: center;
    font-size: medium;
}

.job-info h3 {
    text-align: center;
    font-size: small;
    font-style: normal;
}

.job-info ul {
    align-self: flex-end;
    list-style-position: outside;
    text-align: left;
    padding: 0 1em;
}

/*.job-info:nth-child(odd) .job-info-body {*/
/*    display: flex;*/
/*    flex-direction: row-reverse;*/
/*    gap: 1em;*/
/*}*/

.job-info .job-info-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.job-description {
    /*border: 1px solid #ccc;*/
    /*border-radius: .3em;*/
    /*padding: 0 2em 2em 2em;*/
    position: relative;
    /*top: -0.75em;*/
    z-index: -1;
}

.job-image {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.job-image img {
    max-width: 100%;
    max-height: 20em;
    border-radius: .3em;
}